In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('Covid_19_data.csv')

In [3]:
data

,SNo,ObservationDate,Province,Country,LastUpdate,Confirmed,Deaths,Recovered
0,1,1/10/2020,Anhui,Mainland China,1/10/2020 17:00,1,0,0
1,2,1/11/2020,Beijing,Mainland China,1/11/2020 17:00,14,0,0
2,3,1/12/2020,Chongqing,Mainland China,1/12/2020 17:00,6,0,0
3,4,1/13/2020,Fujian,Mainland China,1/13/2020 17:00,1,0,0
4,5,1/13/2020,Gansu,Mainland China,1/13/2020 17:00,0,0,0
...,...,...,...,...,...,...,...,...
508,509,8/16/2020,NaN,Philippines,1/31/2020 23:59,1,0,0
509,510,8/17/2020,NaN,India,1/31/2020 23:59,1,0,0
510,511,8/18/2020,NaN,Sweden,1/31/2020 23:59,1,0,0
511,512,8/19/2020,Unknown,China,1/31/2020 23:59,0,0,0
512,513,8/20/2020,NaN,Kiribati,1/31/2020 23:59,0,0,0

In [4]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/ayodeji/anaconda3/lib/python3.11/site-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/ayodeji/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.6.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import psycopg2

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine(f"postgresql://postgres:1972@localhost/covid_19_data")

In [8]:
print(pd.io.sql.get_schema(data, name= 'covid_19_data',con=engine))

CREATE TABLE covid_19_data (
	"SNo" BIGINT,
	"ObservationDate" TEXT,
	"Province" TEXT,
	"Country" TEXT,
	"LastUpdate" TEXT,
	"Confirmed" BIGINT,
	"Deaths" BIGINT,
	"Recovered" BIGINT
)

In [ ]:
data.to_sql("covid_19_data", con=engine)